{% extends 'myapp/admin_base.html' %}
{% load static %}
{% block title %}District Details Update{% endblock %}
{% block body %}
<center>
    <h1>District Details Edit</h1>
    <div class="container">
     <form role="form" name="frm" action="{% url 'admin_district_settings_edit'%}" method="post">
        {% csrf_token %}
        <input class="form-control" type="hidden" name="state_id" id="state_id" value="{{state_id}}" required>

         <div class="form-group">
            <label for="district_name">District Name :</label>
            <input class="form-control" name="district_name" id="district_name" type="text"  value="{{district_name}}" required><br><br>
         </div>
         <div class="form-group">
            <label for="district_code">District Code :</label>
            <input class="form-control" name="district_code" id="district_code" type="text"  value="{{district_code}}" required><br><br>
         </div>
         <button type="submit" class="btn btn-info" id="bt" name="bt">Update</button>
        <button type="reset" class="btn btn-info" id="rt" name="rt">Clear</button>
         <input type="hidden" name="s_id" value="{{s_id}}">
    </form>
    </div>
    <h3>{{msg}}</h3>
</center>
{% endblock %}
