{% extends 'myapp/admin_base.html' %}
{% load static %}
{% block title %}District Add{% endblock %}
{% block body %}
<center>
    <h1>District Add</h1>
     <div class="container">
        <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">

        <form role="form" name="frm" action="{% url 'admin_district_settings_add'%}" method="post">
            {% csrf_token %}
            <input class="form-control" type="hidden" name="state_id" id="state_id" value="{{state_id}}" required>

            <div class="form-group">
                <label for="district_name">District Name :</label>
                <input class="form-control" type="text" name="district_name" id="district_name" value="" required>
            </div>
            <div class="form-group">
                <label for="district_code">District Code :</label>
                <input class="form-control" type="text" name="district_code" id="district_code" value="" required>
            </div>
            <button type="submit" class="btn btn-info" id="bt" name="bt">Add</button>
            <button type="reset" class="btn btn-info" id="rt" name="rt">Clear</button>
        </form>
             </div>
             <div class="col-md-4">
            </div>
         </div>
     </div>
    <h3>{{msg}}</h3>
</center>
{% endblock %}
