{% extends 'myapp/admin_base.html' %}
{% load static %}
{% block title %}Block Panchayat Add{% endblock %}
{% block body %}
<center>
    <h1>Block Panchayat Add</h1>
     <div class="container">
        <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">

        <form role="form" name="frm" action="{% url 'admin_panchayat_settings_add'%}" method="post">
            {% csrf_token %}
            <input class="form-control" type="hidden" name="block_id" id="block_id" value="{{block_id}}" required>

            <div class="form-group">
                <label for="panchayat_name">Block Panchayat Name :</label>
                <input class="form-control" type="text" name="panchayat_name" id="panchayat_name" value="" title="only alphabet with space is allowed" pattern="[a-zA-Z ]+" oninput="if (typeof this.reportValidity === 'function') {this.reportValidity();}" required>
            </div>
            <div class="form-group">
                <label for="panchayat_code">Panchayat Code :</label>
                <input class="form-control" type="text" name="panchayat_code" id="panchayat_code" value="" title="only alphabet with space is allowed" pattern="[a-zA-Z ]+" oninput="if (typeof this.reportValidity === 'function') {this.reportValidity();}" required>
            </div>
            <div class="form-group">
                <label for="addr">Address :</label>
                <textarea class="form-control" name="addr" id="addr" value="" required></textarea>
            </div>
            <div class="form-group">
                <label for="pin">Pincode :</label>
                <input class="form-control" type="text" name="pin" id="pin" value="" pattern="[0-9]{6}" maxlength="6" oninput="if (typeof this.reportValidity === 'function') {this.reportValidity();} " required >
            </div>
            <div class="form-group">
                <label for="pre_name">President Name :</label>
                <input class="form-control" type="text" name="pre_name" id="pre_name" value="" value="" title="only alphabet with space is allowed" pattern="[a-zA-Z ]+" oninput="if (typeof this.reportValidity === 'function') {this.reportValidity();}" required>
            </div>
            <div class="form-group">
                <label for="pre_contact">President Contact :</label>
                <input class="form-control" type="text" name="pre_contact" id="pre_contact" value="" title="Please enter a valid phone number with 10 digit" pattern="^(\+91[\-\s]?)?[0]?(91)?[6789]\d{9}$" maxlength="10" oninput="if (typeof this.reportValidity === 'function') {this.reportValidity();}"  required>
            </div>
            <div class="form-group">
                <label for="pre_email">President Email :</label>
                <input class="form-control" type="text" name="pre_email" id="pre_email" value="" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"  required oninput="if (typeof this.reportValidity === 'function') {this.reportValidity();}">
            </div>
            <div class="form-group">
                <label for="sec_name">Secretary Name :</label>
                <input class="form-control" type="text" name="sec_name" id="sec_name" value="" title="only alphabet with space is allowed" pattern="[a-zA-Z ]+" oninput="if (typeof this.reportValidity === 'function') {this.reportValidity();}" required>
            </div>
            <div class="form-group">
                <label for="sec_contact">Secretary Contact :</label>
                <input class="form-control" type="text" name="sec_contact" id="sec_contact" value="" title="Please enter a valid phone number with 10 digit" pattern="^(\+91[\-\s]?)?[0]?(91)?[6789]\d{9}$" maxlength="10" oninput="if (typeof this.reportValidity === 'function') {this.reportValidity();}"  required>
            </div>
            <div class="form-group">
                <label for="sec_email">Secretary Email :</label>
                <input class="form-control" type="text" name="sec_email" id="sec_email" value="" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"  required oninput="if (typeof this.reportValidity === 'function') {this.reportValidity();}">
            </div>
            <div class="form-group">
                <label for="ward_count">No. of Wards :</label>
                <input class="form-control" type="text" name="ward_count" id="ward_count" value=""  maxlength="2" oninput="if (typeof this.reportValidity === 'function') {this.reportValidity();} " required>
            </div>
            <button type="submit" class="btn btn-info" id="bt" name="bt">Add</button>
            <button type="reset" class="btn btn-info" id="rt" name="rt">Clear</button>
        </form>
             </div>
             <div class="col-md-4">
            </div>
         </div>
     </div>
    <h3>{{msg}}</h3>
</center>
{% endblock %}
