{% extends 'myapp/admin_base.html' %}
{% load static %}
{% block title %}District Details{% endblock %}
{% block body %}
<center>
    <h1>District Details</h1>
    <div class="container">
    <form role="form" name="frm" action="" method="post">
        {% csrf_token %}
         <input class="form-control" type="hidden" name="state_id" id="state_id" value="{{state_id}}" required>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>SL</th>
                <th>District Name</th>
                <th>District Code</th>
                <th>Action</th>
            </tr>
            </thead>
            {% for dd in district_list %}
            <tbody>
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ dd.district_name }}</td>
                <td>{{ dd.district_code }}</td>
                <td>
                    <a href="../admin_district_settings_edit?id={{ dd.id }}&state_id={{state_id}}">Edit</a> |
                    <a href="../admin_district_settings_delete?id={{ dd.id }}&state_id={{state_id}}">Delete</a>|
                    <a href="../admin_block_settings_view?district_id={{ dd.id }}">Block</a>
                </td>

            </tr>
            <tbody>
            {% endfor %}
        </table>
         <a href="../admin_district_settings_add?state_id={{state_id}}">Add District</a></h1>
    </form>
    </div>
    <h3>{{msg}}</h3>
</center>
{% endblock %}
