{% extends 'myapp/admin_base.html' %}
{% load static %}
{% block title %}State Add{% endblock %}
{% block body %}
<center>
    <h1>State Add</h1>
     <div class="container">
        <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">

        <form role="form" name="frm" action="{% url 'admin_state_settings_add'%}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="state_name">State Name :</label>
                <input class="form-control" type="text" name="state_name" id="state_name" placeholder=" Eg:Kerala" required>
            </div>
            <div class="form-group">
                <label for="state_code">State Code :</label>
                <input class="form-control" type="text" name="state_code" id="state_code" placeholder=" Eg:KER" required>
            </div>
            <button type="submit" class="btn btn-info" id="bt" name="bt">Add</button>
            <button type="reset" class="btn btn-info" id="rt" name="rt">Clear</button>
        </form>
             </div>
             <div class="col-md-4">
            </div>
         </div>
     </div>
    <h3>{{msg}}</h3>
</center>
{% endblock %}
