{% extends 'myapp/admin_base.html' %}
{% load static %}
{% block title %}District Block Details{% endblock %}
{% block body %}
<center>
    <h1>District Block Details</h1>
    <div class="container">
    <form role="form" name="frm" action="" method="post">
        {% csrf_token %}
         <input class="form-control" type="hidden" name="district_id" id="district_id" value="{{district_id}}" required>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>SL</th>
                <th>District Block Name</th>
                <th>District Block Code</th>
                <th>Action</th>
            </tr>
            </thead>
            {% for bd in block_list %}
            <tbody>
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ bd.block_name }}</td>
                <td>{{ bd.block_code }}</td>
                <td>
                    <a href="../admin_block_settings_edit?id={{ bd.id }}&district_id={{district_id}}">Edit</a> |
                    <a href="../admin_block_settings_delete?id={{ bd.id }}&district_id={{district_id}}">Delete</a>|
                    <a href="../admin_panchayat_settings_view?block_id={{ bd.id }}">Panchayat</a>
                </td>

            </tr>
            <tbody>
            {% endfor %}
        </table>
         <a href="../admin_block_settings_add?district_id={{district_id}}">Add District Block</a></h1>
    </form>
    </div>
    <h3>{{msg}}</h3>
</center>
{% endblock %}
