{% extends 'myapp/admin_base.html' %}
{% load static %}
{% block title %}Block Panchayat Details Update{% endblock %}
{% block body %}
<center>
    <h1>Block Panchayat Details Edit</h1>
    <div class="container">
     <form role="form" name="frm" action="{% url 'admin_panchayat_settings_edit'%}" method="post">
        {% csrf_token %}
        <input class="form-control" type="hidden" name="block_id" id="block_id" value="{{block_id}}" required>

            <div class="form-group">
                <label for="panchayat_name">Block Panchayat Name :</label>
                <input class="form-control" type="text" name="panchayat_name" id="panchayat_name" value="{{pd.panchayat_name}}" required>
            </div>
            <div class="form-group">
                <label for="panchayat_code">Panchayat Code :</label>
                <input class="form-control" type="text" name="panchayat_code" id="panchayat_code" value="{{pd.panchayat_code}}" required>
            </div>
            <div class="form-group">
                <label for="addr">Address :</label>
                <textarea class="form-control" name="addr" id="addr"  required>{{pd.addr}}</textarea>
            </div>
            <div class="form-group">
                <label for="pin">Pincode :</label>
                <input class="form-control" type="text" name="pin" id="pin" value="{{pd.pin}}" required>
            </div>
            <div class="form-group">
                <label for="pre_name">President Name :</label>
                <input class="form-control" type="text" name="pre_name" id="pre_name" value="{{pd.pre_name}}" required>
            </div>
            <div class="form-group">
                <label for="pre_contact">President Contact :</label>
                <input class="form-control" type="text" name="pre_contact" id="pre_contact" value="{{pd.pre_contact}}" required>
            </div>
            <div class="form-group">
                <label for="pre_email">President Email :</label>
                <input class="form-control" type="text" name="pre_email" id="pre_email" value="{{pd.pre_email}}" required>
            </div>
            <div class="form-group">
                <label for="sec_name">Secretary Name :</label>
                <input class="form-control" type="text" name="sec_name" id="sec_name" value="{{pd.sec_name}}" required>
            </div>
            <div class="form-group">
                <label for="sec_contact">Secretary Contact :</label>
                <input class="form-control" type="text" name="sec_contact" id="sec_contact" value="{{pd.sec_contact}}" required>
            </div>
            <div class="form-group">
                <label for="sec_email">Secretary Email :</label>
                <input class="form-control" type="text" name="sec_email" id="sec_email" value="{{pd.sec_email}}" required>
            </div>
            <div class="form-group">
                <label for="ward_count">No. of Wards :</label>
                <input class="form-control" type="text" name="ward_count" id="ward_count" value="{{pd.ward_count}}" required>
            </div>
            <button type="submit" class="btn btn-info" id="bt" name="bt">Update</button>
            <button type="reset" class="btn btn-info" id="rt" name="rt">Clear</button>
            <input type="hidden" name="s_id" value="{{s_id}}">
    </form>
    </div>
    <h3>{{msg}}</h3>
</center>
{% endblock %}
