{% extends 'myapp/panchayat_base.html' %}
{% load static %}
{% block title %}News Details Add{% endblock %}
{% block body %}
<center>
    <h2><font color="#366092">News Add</font></h2>
<div class="container">
    <form name="frm"  role="form" action="{% url 'panchayat_news_add' %}" method="post"
        enctype="multipart/form-data">
            {% csrf_token %}
           <div class="form-group">
               <label for="title">Title</label>
               <input type="text" class="form-control" id="title" name="title" placeholder="title " required="required">
           </div>
            <div class="form-group">
                <label for="document">Document :</label>
                <input class="form-control" type="file" name="document" id="document">
            </div>
           <div class="form-group">
               <label for="descrp">Description</label>
               <textarea class="form-control" id="descrp" name="descrp" required="required"></textarea>
           </div>
           <button type="submit" class="btn btn-info" id="bt" name="bt">Add</button>
            <button type="reset" class="btn btn-info" id="rt" name="rt">Reset</button>
        {{msg}}
    </form>
</div>
</center>
{% endblock %}