{% extends 'myapp/panchayat_base.html' %}
{% load static %}
{% block title %}Tax Details List{% endblock %}
{% block body %}
<center>

    <h2><font color="#366092">Tax List</font></h2>
<div class="container">


         <table class="table table-striped table-bordered">
        <thead>
             <tr>
            <th>SL</th>
            <th>Name</th>
            <th>Address</th>
            <th>Ward No</th>
                 <th>House No</th>
            <th>Contact</th>
            <th>Email</th>
                 <th>Title</th>
            <th>Date / Time</th>
            <th>Status</th>
                 <th>Amount</th>
            <th>Action</th>



        </tr>
             </thead>
        {% for c in tax_list %}
        <tbody>
        <tr class="info ">
            <td>{{ forloop.counter }}</td>
            {% for u in user_list %}
                {% if c.user_id == u.user_id%}
                <td>{{ u.fname }} {{ u.lname }}</td>
                <td>{{ u.addr }},{{ u.pin }}</td>
                <td>{{ u.ward_no }}</td>
                <td>{{ u.house_no }}</td>
                <td>{{ u.contact }}</td>
                <td>{{ u.email }}</td>
            {% endif %}
            {% endfor %}
            <!--This is title-->
            <td>{{ c.houseno }}</td>
            <td>{{ c.dt }}/{{ c.tm }}</td>
            <td>{{ c.status }}</td>
            <td>{{ c.amount }}</td>
            {% if c.status != 'Payment Success' %}
            <td>
                    <form name="frm"  role="form" action="{% url 'admin_tax_verify' %}" method="post"  enctype="multipart/form-data">
                         {% csrf_token %}
                    <input type="text" pattern="^[0-9]{1,4}$" placeholder="Amount" name="amount" required>
                        <input type="text"  placeholder="Status" name="status" required>

                    <input type="submit" value="Submit">
                    <input type="hidden" value="{{ c.id }}" name="id">


            </form>
            </td>
            {% endif %}

        </tr>
             </tbody>
        {% endfor %}
        </table>
    <a href="{% url 'export_pdf'  %}" class="btn btn-info">Export PDF</a>
        {{msg}}
        <br/>
</div>



</center>
{% endblock %}