{% extends 'myapp/admin_base.html' %}
{% load static %}
{% block title %}District Block Details Update{% endblock %}
{% block body %}
<center>
    <h1>District Block Details Edit</h1>
    <div class="container">
     <form role="form" name="frm" action="{% url 'admin_block_settings_edit'%}" method="post">
        {% csrf_token %}
        <input class="form-control" type="hidden" name="district_id" id="district_id" value="{{district_id}}" required>

         <div class="form-group">
            <label for="block_name">District Block Name :</label>
            <input class="form-control" name="block_name" id="block_name" type="text"  value="{{block_name}}" required><br><br>
         </div>
         <div class="form-group">
            <label for="block_code">District Block Code :</label>
            <input class="form-control" name="block_code" id="block_code" type="text"  value="{{block_code}}" required><br><br>
         </div>
         <button type="submit" class="btn btn-info" id="bt" name="bt">Update</button>
        <button type="reset" class="btn btn-info" id="rt" name="rt">Clear</button>
         <input type="hidden" name="s_id" value="{{s_id}}">
    </form>
    </div>
    <h3>{{msg}}</h3>
</center>
{% endblock %}
