<html>
<head>
    <title>PDF Output</title>
    <style>
@page{
    size: A4 Landscape;
    margin: 2.5cm 1.5cm 3.5cm 1.5cm;


<!--    @top-center{-->
<!--    content: "Tax Collection";-->
<!--    }-->
    @bottom-right{
           content: "Page "counter(page)" of " counter(pages);
    }
    };
    td{
    padding:20px
    }

    </style>
</head>
<body>
<h2 style="padding:6px; margin-bottom:50px;text-align: center; font-weight:bold">Tax Details</h2>
<hr>
<div style="padding:6px; margin-bottom:10px; margin-left:150px; font-weight:bold">
            <h3>Title : {{ tax_item.houseno }}</h3>
            <h3>Tax Amount : Rs. {{ tax_item.amount }}</h3>
            <h3>{{tax_item.status}}</h3>
            <h3>On : {{ tax_item.dt }}</h3>
            <h3>{{ tax_item.tm }}</h3>
</div>
    <hr>
</body>
</html>