{% extends 'myapp/panchayat_base.html' %}
{% load static %}
{% block title %}Panchayat Member Details Update{% endblock %}
{% block body %}
<center>
    <h1>Panchayat Member Details Edit</h1>
    <div class="container">
     <form role="form" name="frm" action="{% url 'panchayat_ward_member_edit'%}" method="post">
        {% csrf_token %}
                    <div class="form-group">
                <label for="member_name"> Name :</label>
                <input class="form-control" type="text" name="member_name" id="member_name" value="{{md.member_name}}" required>
            </div>
            <div class="form-group">
                <label for="ward_no">Ward Code :</label>
                <select  name="ward_no" id="ward_no" class="form-control" >
                    {%for w in ward_list %}
                    <option value="{{w}}">{{w}}</option>
                    {% endfor%}
                </select>
            </div>
            <div class="form-group">
                <label for="addr">Address :</label>
                <textarea class="form-control" name="addr" id="addr" value="" required>{{md.addr}}</textarea>
            </div>
            <div class="form-group">
                <label for="pin">Pincode :</label>
                <input class="form-control" type="text" name="pin" id="pin" value="{{md.pin}}" required>
            </div>
            <div class="form-group">
                <label for="contact">Contact :</label>
                <input class="form-control" type="text" name="contact" id="contact" value="{{md.contact}}" required>
            </div>
            <div class="form-group">
                <label for="email">Email :</label>
                <input class="form-control" type="email" name="email" id="email" value="{{md.email}}" required>
            </div>
            <button type="submit" class="btn btn-info" id="bt" name="bt">Update</button>
            <button type="reset" class="btn btn-info" id="rt" name="rt">Clear</button>
            <input type="hidden" name="s_id" value="{{s_id}}">
    </form>
    </div>
    <h3>{{msg}}</h3>
</center>
{% endblock %}
