{% extends 'myapp/user_base.html' %}
{% load static %}
{% block title %}licence request Add{% endblock %}
{% block body %}
<center>
    <h2><font color="#366092">Licence request Add</font></h2>
<div class="container">
    <form name="frm"  role="form" action="{% url 'user_licence_request_add' %}" method="post"  enctype="multipart/form-data">
            {% csrf_token %}
           <div class="form-group">
               <label for="title">Title</label>
               <select class="form-control" id="title" name="title" placeholder="Choose"  required>
                   <option selected disabled>Choose</option>
                   <option value="Birth Certificate">Birth certificate</option>
                   <option value="Marriage Certificate">Marriage Certificate</option>
                   <option value="Shop License">Shop License</option>
                   <option value="Income Certificate">Income Certificate</option>
               </select>
           </div>
<!--          <div class="form-group">-->
<!--               <label for="descp">Name</label>-->
<!--               <input class="form-control" id="descp" name="descp" required>-->
<!--           </div>-->
<!--        <div id="birth" style="display:none">-->
<!--        <div class="form-group">-->
<!--               <label for="name">Date Of Birth</label>-->
<!--               <input class="form-control" id="name" name="name" required>-->
<!--           </div>-->
<!--        <div class="form-group">-->
<!--               <label for="dateOfBirth">Place of Birth</label>-->
<!--               <input class="form-control" id="dateOfBirth" name="dateOfBirth" required>-->
<!--           </div>-->
<!--            <div class="form-group">-->
<!--               <label for="placeOfBirth">Description</label>-->
<!--               <textarea class="form-control" id="placeOfBirth" name="placeOfBirth" required></textarea>-->
<!--           </div>-->
<!--           </div>-->

<!--         <div id="marriage" style="display:none">-->
<!--        <div class="form-group">-->
<!--               <label for="gname">Groom Name</label>-->
<!--               <input class="form-control" id="gname" name="gname" required>-->
<!--           </div>-->
<!--             <div class="form-group">-->
<!--               <label for="bname">Bride Name</label>-->
<!--               <input class="form-control" id="bname" name="bname" required>-->
<!--           </div>-->
<!--        <div class="form-group">-->
<!--               <label for="marriagedate">Place And Date of Marriage</label>-->
<!--               <input class="form-control" id="marriagedate" name="marriagedate" required>-->
<!--           </div>-->
<!--            <div class="form-group">-->
<!--               <label for="placeOfBirth">Description</label>-->
<!--               <textarea class="form-control" id="placeOfBirth" name="placeOfBirth" required></textarea>-->
<!--           </div>-->
<!--           </div>-->
    <div class="form-group">
           <label for="descp">Description</label>
           <textarea class="form-control" id="descp" name="descp" required="required"></textarea>
       </div>
            <div class="form-group">
            <label for="document">Request :</label>
            <input class="form-control" type="file" name="document" id="document">
            </div>

           <button type="submit" class="btn btn-info" id="bt" name="bt">Add</button>
            <button type="reset" class="btn btn-info" id="rt" name="rt">Reset</button>
        {{msg}}
    </form>
</div>
</center>
<!--<script>-->
<!--var object = document.getElementById("title");-->
<!--object.addEventListener("change", myScript);-->
<!--function myScript(e){-->
<!--console.log(e.target.value)-->
<!--let birth = document.getElementById('birth');-->
<!--let marriage = document.getElementById('marriage');-->
<!--if(e.target.value === 'Birth Certificate'){-->
<!--birth.style.display = 'block'-->
<!--}-->
<!--else{-->
<!--birth.style.display = 'none'-->
<!--}-->
<!--if(e.target.value === 'Marriage Certificate'){-->
<!--marriage.style.display = 'block'-->
<!--}-->
<!--else{-->
<!--marriage.style.display = 'none'-->
<!--}-->

<!--}-->
<!--</script>-->
{% endblock %}
