{% extends 'myapp/ward_base.html' %}
{% load static %}
{% block title %}Message Reply{% endblock %}
{% block body %}
<center>
    <h1>Message Reply</h1>
     <div class="container">
    <form role="form" name="frm" action="{% url 'ward_user_messages_reply'%}" method="post">
        {% csrf_token %}
            <input type="hidden" class="form-control" id="message_id"  name="message_id"
                   value="{{message_id}}">
        <div class="form-group">
            <label for="answer">Answer :</label>
            <textarea class="form-control" name="answer" id="answer"></textarea>
        </div>

       <button type="submit" class="btn btn-info" id="bt" name="bt">Reply</button>
        <button type="reset" class="btn btn-info" id="rt" name="rt">Clear</button>
    </form>
     </div>
    <h3>{{msg}}</h3>
</center>
{% endblock %}
