{% extends 'myapp/ward_base.html' %}
{% load static %}
{% block title %}Covid Details Update{% endblock %}
{% block body %}
<center>
    <h1>Covid Details Edit</h1>
    <div class="container">
     <form role="form" name="frm" action="{% url 'ward_covid_edit'%}" method="post">
        {% csrf_token %}
                    <div class="form-group">
                <label for="poscase"> poscase</label>
                <input class="form-control" type="text" name="poscase" id="poscase" value="{{md.poscase}}" required>
            </div>
            <div class="form-group">
                <label for="negcase">negcase :</label>
                <input class="form-control" type="text" name="negcase" id="negcase" value="{{md.negcase}}" required>
            </div>

            <button type="submit" class="btn btn-info" id="bt" name="bt">Update</button>
            <button type="reset" class="btn btn-info" id="rt" name="rt">Clear</button>
            <input type="hidden" name="s_id" value="{{s_id}}">
    </form>
    </div>
    <h3>{{msg}}</h3>
</center>
{% endblock %}
